html {
    scroll-behavior: smooth;
  }

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: lightyellow;
}

@media only screen and (max-width: 600px) {
    .section-1 {
        display: flex;
        flex-direction: column;
    }

    .header,
    ul,
    .event-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-p {
        margin: auto;
        padding-bottom: 10px;;
        text-align: center;
    }


  }

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

/* Header */
.header, .section-1 {
    background-color: #f5b218;
}

.header-p {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #8021a6;
    margin-right: auto;
}

.header {
    margin: 0;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    display: contents;
}


li {
    padding: 16px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #8021a6;
}

a:hover {
    background-color: magenta;
}

/* Section 1 */
.section-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.left-content, .right-img {
    padding: 16px;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.saz {
    max-width: 500px;
    min-width: 100px;
}

.hero-main {
    font-size: 30px;
    color:#8021a6;
    margin: 0px;
}

.hero-secondary {
    color:#8021a6;
    font-size: 18px;
}

.hero-button {
    background-color: #8021a6;
    padding: 10px;
    max-width: 50%;
    font-weight: bold;
    text-transform: uppercase;
}

.button-link {
    color: #f5b218;
    animation: blinker .5s linear infinite;
}

/* Section 2 */
.section-2 {
    background-color: #e597e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.hero-two {
    text-align: center;
    color: #eb2d07;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    gap: 10px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.row {
    width: 200px;
    max-width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.subtitle {
    color: #eb2d07;
}

/* Section 3 */

.section-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 100px;
}

.q-source {
    align-self: flex-end;
}

/* Section 4 */

.section-4 {
    background-color: #e597e8;
    padding: 40px 100px;
}

.event-box {
    background-color: #32c1ed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    padding: 30px;
}


.event-button {
    background-color: #8021a6;
    color:#f5b218;
    padding: 10px;
    max-width: 100%;
    font-weight: bold;
    text-transform: uppercase;
}

.event-heading {
    font-weight: bold;
    color: #ff4d00;
    animation: blinker 2s linear infinite;
}

.event-sub {
    font-style: italic;
    color: #f5b218;
    animation: blinker 5s linear infinite;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5b218;
    color: #8021a6;
    font-size: 14px;
    font-style: italic;
}